@model Library.Entities.Reservation

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>@Html.LabelFor(model => model.UserName)</td>
        <td>@Model.UserName</td>
    </tr>
    
    
    <tr>
        <td>
            <b>Reserved books:</b>
            @if (Model.ReservedBooks.Count == 0)
            {
                <p><b>No books reserved</b></p>
            }
        </td>
    </tr>
    @foreach (var r in Model.ReservedBooks)
    {
        <tr>
            <td>@r.Title</td>
            <td>@Html.ActionLink("Remove reservation", "RemoveBook", new {id = r.Id})</td>
        </tr>

    }
</table>

<input type="button" name="reservation" value="Make reservation"/>