@model Library.Entities.Reservation

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>@Html.LabelFor(model => model.UserName)</td>
        <td>@Model.UserName</td>
    </tr>
    
    
    <tr>
        <td>Reserved books:</td>
    </tr>
    @foreach (var r in Model.ReservedBooks)
    {
        <tr>
            <td>@r.Title</td>
            <td>@Html.ActionLink("Remove reservation", "RemoveBook")</td>
        </tr>

    }
</table>