<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bfdeff17-3b64-4d55-a666-2bccd711cc96/resourcegroups/jacor/providers/Microsoft.Web/sites/JacorLibrary</ResourceId>
    <ResourceGroup>jacor</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jacorlibrary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jacorlibrary.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JacorLibrary</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JacorLibrary</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jacor.database.windows.net,1433;Initial Catalog=JacorLibrary_db;User ID=jacorros@jacor;Password=zaq1@WSX" Name="Data Source=tcp:jacor.database.windows.net,1433;Initial Catalog=JacorLibrary_db;User Id=jacorros@jacor;Password=zaq1@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Library.Entities.LibraryContext, Library.Entities" MigrationConfiguration="Library.Entities.Migrations.Configuration, Library.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jacor.database.windows.net,1433;Initial Catalog=JacorLibrary_db;User Id=jacorros@jacor;Password=zaq1@WSX</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>